:root {
	--bar-width: 100px;
}
/* Set Default Progress Bar For Plugin */
.cm-task-progress-bar {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	margin-bottom: 1px;
}

.HyperMD-header .cm-task-progress-bar {
	display: inline-block;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
}

.progress-bar-inline {
	border-radius: 14px;
	height: 10px;
}

.progress-bar-inline-0 {
	background-color: #AE431E;
}

.progress-bar-inline-1 {
	background-color: #E5890A;
}

.progress-bar-inline-2 {
	background-color: #B4C6A6;
}

.progress-bar-inline-3 {
	background-color: #6BCB77;
}

.progress-bar-inline-4 {
	background-color: #4D96FF;
}

.progress-bar-inline-background {
	color: #000 !important;
	background-color: #f1f1f1 !important;
	border-radius: 10px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: var(--bar-width);
}

/* Set Default Progress Bar With Number For Plugin */

.cm-task-progress-bar.with-number {
	display: inline-flex;
	align-items: center;
}

.HyperMD-header .cm-task-progress-bar.with-number .progress-bar-inline-background, .HyperMD-header .cm-task-progress-bar.with-number .progress-status {
	margin-bottom: 5px;
}

.progress-status {
	padding-left: 5px;
}

.cm-task-progress-bar.with-number .progress-bar-inline-background {
	margin-bottom: -2px;
}

.cm-task-progress-bar.with-number .progress-status {
	font-size: 13px;
	margin-left: 3px;
}
